

// Fields
$primary-color: #3d3421;
$secondary-color: #ff6600;
$font-stack: 'Open Sans', sans-serif;

// Body
body {

  margin: 0;
  font-family: $font-stack;
  
  * {

    box-sizing: border-box;

  }

}